[submodule "CSharp/TreinamentoHelp"]
	path = CSharp/TreinamentoHelp
	url = https://github.com/Zanatta97/TreinamentoHelp
[submodule "C/EstacioSamuelZanatta"]
	path = C/EstacioSamuelZanatta
	url = https://github.com/Zanatta97/EstacioSamuelZanatta
